extends layout

block scripts
    script(src='/javascripts/sendMessage.js')

block content
    div.parent
        form(id='feedback_form', method='POST', onsubmit='return sendMessage()')
            p 
                input(type='text', name='name', id='name_field', placeholder='Your name..')
            p 
                input(type='text', name='email', id='email_field', placeholder='Your e-mail..')
            p
                textarea(name='message', id='message_field', placeholder='Your message..')
            p
                input(type="submit", value="Submit")