extends layout

block content
    div.parent
        form(id='feedback_form', method='POST', onsubmit='return sendMessage()')
            p 
                input(type='text', name='name', id='name_field', placeholder='Name (required)')
            p 
                input(type='email', name='email', id='email_field', placeholder='E-mail')
            p
                textarea(name='message', id='message_field', placeholder='Message (required)')
            p
                input(type="submit", value="Submit")

block scripts
    script(src='/javascripts/sendMessage.js')