extends layout

block scripts
    script(src='/javascripts/sendMessage.js')

block content
    div.parent
        form(id='feedback_form', method='POST', onsubmit='return sendMessage()')
            p 
                input(type='text', name='name', id='name_field', placeholder='Name..')
            p 
                input(type='text', name='email', id='email_field', placeholder='E-mail..')
            p
                textarea(name='message', id='message_field', placeholder='Message..')
            p
                input(type="submit", value="Submit")